<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>
        Pipes creados por nosotros
    </p>
    <div class="grid">
        <div class="col"> 
            <p-fieldset legend="Longitud Pipe" [toggleable]="true"> 
                <label>
                    {{frase}} -> Palabras = {{frase | longitud}}
                </label>
             </p-fieldset>
        </div>
        <div class="col"> 
            <p-fieldset legend="Fecha Pipe" [toggleable]="true"> 
                <label>
                    {{fecha | jsonDate}}
                </label>
             </p-fieldset>
        </div>
        <div class="col"> 
            <p-fieldset legend="Multiplicador Pipe" [toggleable]="true"> 
                <label>
                    {{numero}} * 45 = {{numero | multiplicador:'45'}}
                </label>
             </p-fieldset>
        </div>
    </div>
</div>
